.container {
    /* Set the container to take the full width of the page or parent element */
    width: 100%;
    /* Set the maximum width of the container to avoid stretching the content on larger screens */
    max-width: 1440px;
    /* Center align the container horizontally */
    margin: 0 auto;
    /* Add horizontal padding to provide spacing on smaller screen sizes */
    padding: 0 1rem;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.max-width-full {
    max-width: 100%;
}

.height-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}
